.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2vh;
  height: 100vh;

  &__mainInterface {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    height: 96vh;

    app-header-infobox {
      width: 98%;
      height: 90vh;
    }
  }
}