@use '/src/defaults' as d;

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2vh;
  height: 100vh;

  &__mainInterface {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow: hidden;
    height: fit-content;
    width: 20em;

    // z-index: 1;

    app-header-searchbar {
      margin: 0 0 1vh 0;
      width: 95%;

      z-index: 1;
    }

    app-header-infobox {
      // display: none;
      overflow: scroll;
      margin: 0;
      height: 90vh;
      width: 95%;
      z-index: 1;
    }
  }

  &__subInterface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    // z-index: 1;

    app-header-logo {
      z-index: 1;
      height: fit-content;
    }

    app-header-pintoggle {
      z-index: 1;
      height: fit-content;
      margin: 0 0 .5em 0;
    }
  }
}