@use '/src/defaults' as d;

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2vh;
  height: 100vh;

  z-index: 1;

  &__mainInterface {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow: hidden;
    height: 96vh;
    width: 20em;

    z-index: 1;

    app-header-searchbar {
      margin: 0;
      width: 95%;
    }

    app-header-infobox {
      overflow: scroll;
      margin: 1vh 0 0 0;
      width: 95%;
      height: 100%;
    }
  }

  app-header-logo {
    z-index: 1;
  }
}