<fa-icon
    class="goback"
    [icon]="faArrowLeft"
    (click)="exitActiveSeries()"
  > 
  </fa-icon>
<div class="seriesdetailed">
  <div class="seriesdetailed__pic">
    <fa-icon
      *ngIf="seriesImgSrc === ''"
      [icon]="faQuestion">
    </fa-icon>
    <img 
      *ngIf="seriesImgSrc !== ''"
      src="{{ seriesImgSrc }}"
      alt="Image depicting series of {{ series.name }}"
    >
  </div>
  <div class="seriesdetailed__info">
    <h3>{{ series.name }}</h3>
    <p>{{ series.description }}</p>
  </div>
  <div class="seriesdetailed__notes">
    <!-- <p>{{ series.notes.length }} notes</p>
    <ul>
      <app-seriesdetailed-noteitem
        *ngFor="let note of notes"
        [note]="note"
      >
      </app-seriesdetailed-noteitem>
    </ul> -->
    <p *ngIf="notable.length > 0">Notable</p>
    <ul>
      <app-seriesdetailed-noteitem
        *ngFor="let note of notable"
        [note]="note"
      >
      </app-seriesdetailed-noteitem>
    </ul>
    <p *ngIf="scenic.length > 0">Scenic</p>
    <ul>
      <app-seriesdetailed-noteitem
        *ngFor="let note of scenic"
        [note]="note"
      >
      </app-seriesdetailed-noteitem>
    </ul>
  </div>
</div>