<div class="searchbarContainer">
  <form (ngSubmit)="onSearch()">
    <label for="searchQuery"></label>
    <input
      type="text"
      id="searchQuery" name="searchQuery"
      [(ngModel)]="searchQuery"
      placeholder="Search for Series"
      (change)="onInputChange()"
    >
    <div class="searchbarContainer-btns">
      <button class="searchBtn" type="submit">
        <fa-icon [icon]="faSearchIcon" ></fa-icon>
      </button>
      <div *ngIf="showClearBtn" class="clearBtnWrapper">
        <button class="clearBtn" (click)="onClear()">
          <fa-icon [icon]="faClearIcon" ></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>