@use '/src/defaults' as d;

.searchbarContainer {
  height: 1.75em;

  background-color: d.$white;
  border-radius: .25em;
  box-shadow: .1em .1em .25em d.$black;


  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    input {
      margin: 0 1em;
      width: 100%;

      font-family: map-get(d.$fonts, "gideon");
      font-size: .75em;
          
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .searchbarContainer-btns {
    display: flex;
    flex-direction: row;
  
    button {
      margin: 0 .5em 0 0;
      height: 100%;
  
      background-color: transparent;
      border: none;
  
      fa-icon {
        color: d.$black;
      }
  
      &:hover {
        fa-icon {
          color: d.$black-hover;
        }
      }
  
      &:active {
        transform: scale(.9);
      }
    }
    .clearBtnWrapper {
      border-left: 1px solid d.$black;
    }

    .clearBtn {
      padding: 0 0 0 .5em;
    }
  }
}

