<fa-icon
    class="goback"
    [icon]="faArrowLeft"
    (click)="exitActiveNote()"
  > 
</fa-icon>
<div class="notedetailed">
  <div class="notedetailed__pic">
    <fa-icon
      *ngIf="noteImgSrc === ''"
      [icon]="faQuestion">
    </fa-icon>
    <img 
      *ngIf="noteImgSrc !== ''"
      src="{{ noteImgSrc }}"
      alt="Detailed image depiction of note with title: {{ note.title }}"
    >
  </div>

  <div class="notedetailed__loc" *ngIf="note.location || note.locdetails">
    <h3 *ngIf="note.location">{{ note.location }}</h3>
    <p *ngIf="note.locdetails">{{ note.locdetails }}</p>
  </div>

  <div class="notedetailed__info" *ngIf="note.title || note.synopsis">
    <h3 *ngIf="note.title">{{ note.title }}</h3>
    <p *ngIf="note.synopsis">{{ note.synopsis }}</p>
  </div>
</div>