
// Colors
$white: #ffffff;
$white-hover: #b3b3b3;
$black: #2c2c2c;
$black-hover: #4b4b4b;
$infobox: #27272777;

// Fonts
$fonts: (
  "gideon": ('Gideon Roman', cursive),
);

// Breakpoints
$mobile: 768px;

@mixin mobile {
  @media only screen and (max-width: $mobile) and (orientation: portrait) and (min-aspect-ratio: 14/16){
    @content;
  }
}