<div *ngIf="infoboxActive"
  class="infoboxContainer {{ activeSeries || activeNote ? 'infoboxContainer--subjectActive' : null}}">
  <app-serieslist 
    *ngIf="seriesList.length > 0 && !activeSeries && !activeNote"
    [seriesList]="seriesList"
  >
  </app-serieslist>
  <app-seriesdetailed
    *ngIf="activeSeries && !activeNote"
    [series]="activeSeries"
  >
  </app-seriesdetailed>
  <!--
    Will have another component for noteDetailed
    Logic may require emptying seriesList when
    noteDetailed data is populated
  -->
</div>